alembic              
attrs              
awscli              
boto3               
botocore            
Click                  
colorama             
DateTime               
docutils            
Flask                
Flask-Cors           
Flask-Login          
Flask-Migrate        
Flask-SQLAlchemy     
gunicorn           
importlib-metadata   
itsdangerous         
Jinja2              
jmespath             
Mako                 
MarkupSafe           
more-itertools       
packaging            
pip                
pluggy              
py                   
pyasn1               
pyparsing            
pytest               
python-dateutil      
python-dotenv       
python-editor        
pytz                
PyYAML                 
rsa                  
s3transfer           
setuptools         
wcwidth              
Werkzeug            
WTForms              
zipp                 
zopnterface       